body{background-color: darkslategrey;}
.forecast{color: darkgray; background-color: gray;}
.new{color: darkkhaki; background-color: floralwhite;}
header{background-color: hotpink;}
img{width: 400px;height: 300px;}
