body{background-color: cyan;}
img{width: 400px;height: 300px;}
.forecast{color: darkgray; background-color: gray;}
footer{color: darkkhaki; background-color: floralwhite;}
header{background-color: hotpink;}